@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');
@import "tailwindcss";



:root {
  --font-body: "Lora", serif;
  --font-display: "Libre Bodoni", serif;
   --font-logo: "Pacifico", cursive; 
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

.logo {
  font-family: var(--font-logo);
}